@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Khand:wght@300;400;500;600;700&family=Madimi+One&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Khand", sans-serif;
    transition: all .2s linear;
}
input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
h1{
    font-weight: 500;
    font-size: 2.8rem;
    color: #192a56;
    position: relative;
    margin: 40px 0;
}

h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #1430a1;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

.top-content{
    background: #d2d2d2;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightblue ;
}

h3{
    height: 100%;
    background-color:#1430a1 ;
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

label{
    display: inline-block;
    height: 100%;
    /* padding: 0 5px; */
    margin: 0 30px;
    line-height: 60px;
    font-size: 1.3rem;
    color: gray;
    cursor: pointer;
    transition: .5s;
}

label:hover{
    
    color: #1430a1;
}







/* animations  */
@keyframes animate {
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}