@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Khand:wght@300;400;500;600;700&family=Madimi+One&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
:root{
    --green:#cb2c4c;
    --black:#2c57cc;
    --light:#666;
    --box-shadow:0 .5rem 1.5rem rgb(0,0,0,.1);
}
*{
    font-family: "Khand", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-padding-top: 5.5rem;
}

section{
    padding: 2rem 9%;
}
section:nth-child(even){
    background: #eee;
}

.btn{
    margin-top: 1rem;
    display:inline-block ;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}
.btn:hover{
    background:var(--green);
    letter-spacing: .1rem;
}

header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
.logo img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light);
}
header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background-color: var(--green);
}

header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size:1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover{
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}
header .icons #menu-bars{
    display: none;
}

#search-form{
    position:fixed;
    top: -110%;left: 0;
    height: 100%;width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}
#search-form label:hover{
    color:var(--green);
}
#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top:2rem ; right: 3rem;
    font-size: 5rem;
}

#search-form.active{
    top: 0;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: hidden;
    padding-top:9rem ;
}

.home .home-slider .slide .content{
    flex:1 1 45rem ;
}

.home .home-slider .slide .image{
    flex:1 1 45rem ;
}
.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color: var(--green);
    font-size: 2.5rem;
}
.home .home-slider .slide .content h3{
    color: var(--black);
    font-size: 7rem;
}
.home .home-slider .slide .content p{
    color: var(--light);
    font-size: 2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:var(--green) ;
}


/* About section section  */

.sub-heading{
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem , 1fr));
    gap: 1.5rem;
}

.dishes .box-container .box{
    padding: 2.5rem;
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--light);
    position: relative;
    overflow: hidden;
    text-align: center;
}
.dishes .box-container .box img{
    height:17rem;
    margin: 1rem 0;
}

.dishes .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}
.dishes .box-container .box .stars{
    padding: 1rem 0;
}
.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color: var(--green);
}

/* about section css  */

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
}
.about .row .content h3{
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.about .row .content p{
    color: var(--light);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}
.about .row .content .icons-container .icons{
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex:1 1 17rem;
    padding: 1.5rem 1rem;
}
.about .row .content .icons-container .icons i {
    font-size: 2.7rem;
    color: var(--green);
}
.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--black);
}


.gallary .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem , 1fr));
    gap: 1.5rem;
}
.gallary .box-container .box{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.gallary .box-container .box .image{
    height: 35rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}
.gallary .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}

.gallary .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}
.gallary .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.gallary .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--green);
}
.gallary .box-container .box .content h3{
    color: var(--black);
    font-size: 2.5rem;
}

.gallary .box-container .box .content p{
    color: var(--light);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}

/* review section starts CSS  */

.slot form{
    max-width: 90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
}

.slot form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slot form .inputBox .input{
    width: 49%;
    /* border: .2rem solid rgba(0,0,0,.2); */
}
.slot form .inputBox .input span{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light);
}

.slot form .inputBox .input input,
.slot form .inputBox .input textarea{
background: #eee;
border-radius: .5rem;
padding: 1rem;
font-size: 1.6rem;
color: var(--black);
text-transform: none;
margin-bottom: 1rem;
width: 100%;
}
.slot form .inputBox .input input:focus,
.slot form .inputBox .input :focus{
    border: .1rem solid var(--green);
}

.slot form .inputBox .input textarea{
    height: 20rem;
    resize: none;
}

.slot form  .btn{
    margin-top: 0;
}



/* footer section starts here  */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eee;
    color: var(--green);
    box-shadow: var(--box-shadow);
}

.owner-photo img {
    width: 250px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    
}

.quick-links, .social-media {
    text-align: center;
}

.quick-links ul, .social-media ul {
    list-style: none;
    padding: 0;
}

.quick-links ul li, .social-media ul li {
    margin-bottom: 10px;
}

.social-media ul li {
    display: inline-block;
    margin-right: 10px;
}
.quick-links ul li a{
    font-size: 2.5rem;
}
.social-media ul li:last-child {
    margin-right: 20rem;
}

.social-media ul li a {
    color: var(--green);
    font-size: 3rem;
}
.social-media h3{
    font-size: 2.5rem;
}
/* Example social media icons using Font Awesome */
.social-media ul li a i {
    transition: color 0.3s ease;
}

.social-media ul li a i:hover {
    color: #FFD700; /* Change color on hover */
}




/* media queries  */
@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    header{
        padding:1rem 2rem;
    }
    section{
        padding:2rem;
    }
}

@media (max-width:768px){
    header .icons  #menu-bars{
        display: inline-block;
    }
    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid  rgba(0,0,0,.2);
        border-bottom: .1rem solid  rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    } 
    header .navbar.active{
        clip-path: polygon(0 0,100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size:2rem ;
        background:#eee;

    }

    #search-form #search-box{
        width: 90%;
        margin: 0.1rem;
    }
    .home .home-slider .slide .content h3{
        color: var(--black);
        font-size: 5rem;
    }
   
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    .dishes .box-container .box img{
        height: auto;
        width: 100%;
    }
    .slot form .inputBox .input{
        width: 100%;
       
    }
    .owner-photo img {
        width: 100px; /* Adjust size as needed */
        height: auto; /* Maintain aspect ratio */
        border-radius: 50%;
        
    }
}